@import 'https://fonts.googleapis.com/css?family=Work+Sans:200,300,700,800';

#splash {
  font-family: 'Work Sans', sans-serif;
  margin-top: 50px;
}

#title {
  font-family: 'Work Sans', sans-serif;
  font-size: 90px;
  font-weight: 200;
  text-align: center;
}

#title:hover {
  cursor: pointer;
}

#verdict {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
  font-weight: 600;
}

#playerWins {
  font-family: 'Work Sans', sans-serif;
  font-size: 130px;
  font-weight: 900;
}

#finalScore {
  font-family: 'Work Sans', sans-serif;
  font-size: 90px;
  font-weight: 700;
}

#finalPlayers {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
  font-weight: 500;
}


.startGameButton {
  font-size: 30px;
  background-color: #FF4240;
  font-weight: 500;
  color: white;
  border-style: none;
  box-shadow: 1px 4px 0 0 #BB2144;
}


.playerStats {
  font-family: 'Work Sans', sans-serif;
}

#playerTurn {
  font-weight: 600;
  font-size: 40px;
}

#playerOne {
  font-weight: 400;
  font-size:30px
}

#playerTwo {
  font-weight: 400;
  font-size:30px
}

#score {
  font-weight: 700;
}

#choiceButtons {
  background-color: #FF4240;
  width: 320px;
  font-size: 25px;
  color:white;
  border-style: none;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  text-align: center;
  height:60px;
  box-shadow: 1px 4px 0 0 #BB2144;
}

#choices {
  width:100%;
  text-align:center;
  border-style: none;
}

#answerPlacement {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}
